{% extends "base.html" %}

{% load static %}

{% block page_title %}Monthly Challenges{% endblock %}

{% block stylesheet%}<link rel="stylesheet" href="{% static 'challenges/styles.css' %}">{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for month in months %}
                <div class="col-12 col-md-3 mb-4 text-center VLkLQ">
                    <a href="{% url "month-challenge" month %}">
                        <img class="qqZbH" src="{% static "challenges/images/month_icons/" %}{{ month }}.png">
                        <h1 class="JdeVG">{{ month|upper }}</h1>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}