{% extends 'base.html' %}

{% load static %}
{% load markdown_extras %}

{% block title %}
  {{ user.nickname }}'s Blog
{% endblock %}

{% block content %}
  <div class="container vh-100 w-75">
    <div class="row mt-2 mt-sm-5 o3Nn5">
      <div class="col-12 col-sm-4 text-center p-2 r7Doe" style="max-height: 70vh; border-radius: 20px;">
        <img src="{% static 'images/profile_pic.png' %}" class="w-50 rounded-circle my-3 fSG8k" />
        <hr class="my-2" style="width: 100%" />
        <p class="h6 Ufm6G">Connect with me on</p>
        <div class="d-flex justify-content-center gap-3">
          <div class="d-flex flex-column">
            <a href="{{ user.linkedin_url }}" class="aEx2T"><i class="bi bi-linkedin h2 mx-3"></i><p class="h6 fw-bold text-center Ufm6G">LinkedIn</p></a>
          </div>
          <div class="d-flex flex-column">
            <a href="{{ user.github_url }}" class="aEx2T"><i class="bi bi-github h2 mx-3"></i><p class="h6 fw-bold text-center Ufm6G">GitHub</p></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8 p-3" style="max-height: 70vh;">
        <p class="h3 fw-bold text-center" style="max-height: 10%;">About Me</p>
        <div class="container overflow-auto" style="max-height: 90%;">
            {{ user.about_me|markdown|safe }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
