{% load static %}

<!DOCTYPE html>
<html lang="en">
{% with request.resolver_match.url_name as url_name %}
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-icons/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% if url_name == "MDlmY" %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    {% endif %}
</head>
<body>
    <div class="container-fluid">
            <div class="row{% if url_name == "MDlmY" %} min-vh-100{% endif %}">
                {% if url_name == "MDlmY" %}
                    <!-- Sidebar -->
                    <div class=" col-12 col-sm-3 p-4 r7Doe">
                        {% include "includes/sidebar.html" %} 
                    </div>
                {% else %}
                    <!-- Navbar -->
                    {% include "includes/header.html" %}
                {% endif %}

                {% if url_name == "MDlmY" %}
                    <!-- Content -->
                    <div class="col-12 col-sm-9 p-0">
                {% else %}
                {% endif %}

                {% block content %}
                {% endblock %}

                {% if url_name == "MDlmY" %}
                    </div>
                {% else %}
                {% endif %}
            </div>
        
    </div>
    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    {% if url_name == "MDlmY" %}
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="{% static "js/initialize_quill.js" %}"></script>
    {% endif %}

</body>
{% endwith %}
</html>