{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}
  {{ user.nickname }}'s Blog
{% endblock %}

{% block content %}
  <div class="container-fluid h-100">
    <div class="row text-center justify-content-center p-3 p-sm-5 s62bL">
      <h2><b>DevBlog</b> - A Blog Made For Developers</h2>
      <p class="fs-5">Subscribe and get my latest blog post in your inbox.</p>
      <form class="d-flex justify-content-center">
        <input type="text" class="form-control me-3" id="email" placeholder="Enter email" style="max-width: 350px;" />
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
    <div class="row p-3 p-sm-4">
      {% for post in recent_posts reversed %}
        <a href="{% url 'rcOrH' post.slug %}">
          <div class="card mb-3 p-0">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="{{ post.image_url }}" class="rounded-start uC0S9" />
              </div>
              <div class="col-md-9 u9Fi9">
                <div class="card-body" style="height: 180px">
                  <h5 class="card-title fw-bold">{{ post.title }}</h5>

                  <p class="card-text">
                    <small class="text-body-secondary">{{ post.created_at }}</small>
                  </p>
                  <div class="VoMy8">{{ post.content|markdown|safe }}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
