{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}
  {{ user.nickname }}'s Blog
{% endblock %}

{% block content %}
  <div class="container p-0">
    <div class="container p-3">
      <p class="h2 text-center fw-bolder">Latest Posts</p>
      {% for post in posts %}
        <a href="{% url 'rcOrH' post.slug %}">
          <div class="card mb-3 p-0">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="{{ post.image_url }}" class="rounded-start uC0S9" />
              </div>
              <div class="col-md-9 u9Fi9">
                <div class="card-body" style="height: 27vh;">
                  <h4 class="card-title text-center text-lg-start fw-bold">{{ post.title }}</h4>
                  <p class="card-text text-center text-lg-start">
                    <small class="text-body-secondary">{{ post.created_at }}</small>
                  </p>
                  <div class="VoMy8">{{ post.content|markdown|safe }}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
      {% if posts.has_other_pages %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
              <a class="page-link"
                href="
                {% if posts.has_previous %}
                    ?page={{ posts.previous_page_number }}
                {% else %}
                    #
                {% endif %}" tabindex="-1">
                Previous
              </a>
            </li>
            {% for i in posts.paginator.page_range %}
              <li class="page-item {% if posts.number == i %} active {% endif %}">
                <a class="page-link" href="?page={{ i }}">
                  {{ i }}{% if posts.number == i %}
                    <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
            <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
              <a class="page-link"
                href="
                {% if posts.has_next %}
                    ?page={{ posts.next_page_number }}
                {% else %}
                    #
                {% endif %}">
                Next
              </a>
            </li>
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
{% endblock %}
