<div class="navbar sticky-top xByA7">
  <div class="container justify-content-start bUs59">
    <!-- aligns with other .container sections -->
    <a class="navbar-brand fw-bolder me-4 Lak2A" href="{% url 'MDlmY' %}">{{ user.nickname }}'s Blog</a>
    <!-- Navigation links -->
    <ul class="navbar-nav d-flex flex-row">
      {% with url_name=request.resolver_match.url_name %}
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'MDlmY' %}">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link{% if url_name == 'qAtTF' %} fw-bolder{% endif %}" href="{% url 'qAtTF' %}">View All Posts</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link{% if url_name == 'jXl6k' %} fw-bolder{% endif %}" href="{% url 'jXl6k' %}">About Me</a>
        </li>
      {% endwith %}
    </ul>
  </div>
</div>
