{% extends 'base.html' %}

{% load static %}

{% block title %}
  The Hunger Games -
{% endblock %}

{% block custom_stylesheets %}
  <link rel="stylesheet" href="{% static 'css/book.css' %}" />
{% endblock %}

{% block content %}
  <div class="d-flex flex-column" style="padding-left:10vw; padding-right:10vw;">
    <div class="container-fluid">
      <div class="row d-flex flex-nowrap">
        <div class="col-4 col-sm-3 text-center">
          <div class="wrapper sticky-top" style="top: 100px;">
            <img class="img-book rounded-end-3 mb-4" src="{% static 'images/hunger-games.jpg' %}" />
            <div class="d-flex flex-column gap-3">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button col-8" class="btn btn-mint rounded-start-pill w-75">Want to Read</button>
                <button type="button col-4" class="btn btn-mint rounded-end-pill"><i class="bi bi-caret-down-fill"></i></button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button col-8" class="btn btn-mint-inv rounded-start-pill w-75">Shop this series</button>
                <button type="button col-4" class="btn btn-mint-inv rounded-end-pill"><i class="bi bi-caret-down-fill"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 col-sm-9 d-flex flex-column">
          <h1 class="fw-bold mb-1">The Hunger Games</h1>
          <h4 class="mb-2">Suzanne Collins</h4>
          <div class="d-inline-flex flex-row align-items-center align-self-start star-rating-cnt rounded-3 gap-3 mb-2 p-2">
            <div class="star-rating fs-3">
              <i class="bi bi-star-fill full-star"></i>
              <i class="bi bi-star-fill full-star"></i>
              <i class="bi bi-star-fill full-star"></i>
              <i class="bi bi-star-fill full-star"></i>
              <i class="bi bi-star-fill half-star"></i>
            </div>
            <h3 class="fw-bold">4.35</h3>
            <span class="text-muted">9,511,543 ratings</span>
          </div>
          <div class="d-flex text-justify fs-5">
            <p>
              Winning means fame and fortune. Losing means certain death. The Hunger Games have begun....<br /><br />

              In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and one girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.<br /><br />

              Sixteen-year-old Katniss Everdeen regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead before-and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weigh survival against humanity and life against love.
            </p>
          </div>
          <div class="d-flex flex-wrap gap-2">
            <span class="text-muted">Genres</span>
            <span class="genre-badge">Young Adult</span>
            <span class="genre-badge">Dystopia</span>
            <span class="genre-badge">Fiction</span>
            <span class="genre-badge">Fantasy</span>
            <span class="genre-badge">Science Fiction</span>
            <span class="genre-badge">Romance</span>
            <span class="genre-badge">Adventure</span>
            <span class="genre-badge">Audiobook</span>
            <span class="genre-badge">Book Club</span>
            <span class="genre-badge">Teen</span>
          </div>
          <hr />
          <div class="d-flex flex-column">
            <h5 class="fw-bold">About the author</h5>
            <div>
              <div class="row my-3">
                <div class="col-auto">
                  <img class="rounded-circle" src="{% static 'images/suzanne-collins.jpeg' %}" style="max-width: 100px;" />
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-start">
                  <h5 class="fw-bold">Suzanne Collins</h5>
                  <button type="button" class="btn btn-black rounded-pill px-4">Follow</button>
                </div>
              </div>
            </div>
            <div class="d-flex text-justify w-75">
              <p>
                Since 1991, Suzanne Collins has been busy writing for children&#39;s television. She has worked on the staffs of several Nickelodeon shows, including the Emmy-nominated hit Clarissa Explains it All and The Mystery Files of Shelby Woo. For preschool viewers, she penned multiple stories for the Emmy-nominated Little Bear and Oswald. She also co-wrote the critically acclaimed Rankin/Bass Christmas special, Santa, Baby! Most recently she was the Head Writer for Scholastic Entertainment&#39;s Clifford&#39;s Puppy Days.<br /><br />

                While working on a Kids WB show called Generation O! she met children&#39;s author James Proimos, who talked her into giving children&#39;s books a try.<br /><br />

                Thinking one day about Alice in Wonderland, she was struck by how pastoral the setting must seem to kids who, like her own, lived in urban surroundings. In New York City, you&#39;re much more likely to fall down a manhole than a rabbit hole and, if you do, you&#39;re not going to find a tea party. What you might find...? Well, that&#39;s the story of Gregor the Overlander, the first book in her five-part series, The Underland Chronicles. Suzanne also has a rhyming picture book illustrated by Mike Lester entitled When Charlie McButton Lost Power.<br /><br />

                She currently lives in Connecticut with her family and a pair of feral kittens they adopted from their backyard.<br /><br />

                The books she is most successful for in teenage eyes are The Hunger Games, Catching Fire and Mockingjay. These books have won several awards, including the GA Peach Award.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
