{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load martortags %}

{% block title %}
  {{ book.title }} -
{% endblock %}

{% block content %}
  <div class="d-flex flex-column" style="padding-left:10vw; padding-right:10vw;">
    <div class="container-fluid">
      <div class="row d-flex flex-nowrap">
        <div class="col-4 col-sm-3 text-center">
          <div class="wrapper sticky-top" style="top: 100px;">
            <img class="img-book rounded-end-3 mb-4" src="{% static 'images/books/'|add:book.slug|add:'.jpg' %}" />
            <div class="d-flex flex-column gap-3">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button col-8" class="btn btn-mint rounded-start-pill w-75">Want to Read</button>
                <button type="button col-4" class="btn btn-mint rounded-end-pill"><i class="bi bi-caret-down-fill"></i></button>
              </div>
              <div class="btn-group btn-group-lg" role="group">
                <button type="button col-8" class="btn btn-mint-inv rounded-start-pill w-75">Shop this book</button>
                <button type="button col-4" class="btn btn-mint-inv rounded-end-pill"><i class="bi bi-caret-down-fill"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 col-sm-9 d-flex flex-column">
          <h1 class="fw-bold mb-1">{{ book.title }}</h1>
          {% for author in book.authors.all %}
            <h4 class="mb-2">{{ author }}{% if not forloop.last %}, {% endif %}</h4>
          {% endfor %}
          <div class="d-inline-flex flex-row align-items-center align-self-start star-rating-cnt rounded-3 gap-3 mb-2 p-2">
            <div id="star-rating" class="star-rating fs-5 me-2" data-rating="{{ book.ave_rating }}"></div>
            <h3 class="fw-bold">{{ book.ave_rating }}</h3>
            <span class="text-muted">{{ book.raters|intcomma }} ratings</span>
          </div>
          <div class="d-flex flex-column text-justify fs-5">{{ book.description|safe_markdown }}</div>
          <div class="d-flex flex-wrap gap-2">
            <span class="text-muted">Genres</span>
            {% for genre in book.genres.all %}
              <span class="genre-badge">{{ genre }}</span>
            {% endfor %}
          </div>
          <hr />
          {% with first_author=book.authors.first %}
            <div id="about-author" class="d-flex flex-column">
              <h5 class="fw-bold">About the author</h5>
              <div>
                <div class="row mt-3">
                  <div class="col-auto">
                    <img class="rounded-circle" src="{% static 'images/authors/'|add:first_author.slug|add:'.jpg' %}" style="width: 100px; height: 100px; object-fit:cover;" />
                  </div>
                  <div class="col d-flex flex-column justify-content-center align-items-start">
                    <h5 class="fw-bold mb-1">{{ first_author.name }}</h5>
                    <button type="button" class="btn btn-black rounded-pill px-4">Follow</button>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column text-justify w-75">
                <p>{{ first_author.bio|safe_markdown }}</p>
              </div>
            </div>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="{% static 'js/star_rating.js' %}"></script>
{% endblock %}
